
[submodule "Modules/Elysium"]
	path = Modules/Elysium
	url = https://github.com/EdSpurrier/Elysium.git
[submodule "Utils/Tools"]
	path = Utils/Tools
	url = https://github.com/EdSpurrier/dev-tools.git
[submodule "Host"]
	path = Host
	url = https://github.com/EdSpurrier/Cortex-Host.git
